<%- include('./partials/header') %>

<main>
  
<form action="/" method="get">
  <input type="submit" value="Collabratoriate">
</form>

<% if (user) { %>
  <h2>Results</h2>
  <h3 id="effect"></h3>
  <h3 id="instrument"></h3>
  <h3 id="role"></h3>
  <h3 id="universal"></h3>
  
  <a href="/sets/new">Add New Set</a>
  
  <h3>Your sets</h3>
  <ul>
  <% followedSets.forEach(set => { %>
    <li>
      <a href="/sets/<%= set._id %>"><%= set.title %></a><form action="sets/<%= set._id %>/edit?_method=PUT" method="POST"><input type="submit" value="unfollow"></form>
    </li>
  <% }) %>
  </ul>
  
  <h3>Available Sets</h3>
  <ul>
    <% unfollowedSets.forEach(set => { %>
    <li>
      <a href="/sets/<%= set._id %>"><%= set.title %></a><form action="sets/<%= set._id %>/edit?_method=PUT" method="POST"><input type="submit" value="follow"></form>
    </li>
    <% }) %>
  </ul>
  <% } %>

<% if (!user) { %>
 <h3>Only Base Sets Available</h3>
 <h5>sign in for more</h5>
 <ul>
  <% unfollowedSets.forEach(set => { %>
  <li>
    <a href="/sets/<%= set._id %>"><%= set.title %></a>
  </li>
  <% }) %>
</ul>
<% } %>

</main>

<% if (user) { %>
  <script>
    const instruments =  <%- JSON.stringify(instruments) %>;
    const effects =  <%- JSON.stringify(effects) %>;
    const roles =  <%- JSON.stringify(roles) %>;
    const universals =  <%- JSON.stringify(universals) %>;

    let instrument = instruments[Math.floor(Math.random() * instruments.length)];
    let effect = effects[Math.floor(Math.random() * effects.length)];
    let role = roles[Math.floor(Math.random() * roles.length)];
    let universal = universals[Math.floor(Math.random() * universals.length)];

    document.getElementById('effect').innerText = effect;
    document.getElementById('instrument').innerText = instrument;
    document.getElementById('role').innerText = role;
    document.getElementById('universal').innerText = universal;
  </script>
<% } %>

<%- include('./partials/footer') %>