<%- include('./partials/header') %>

<main>
  
<button id="rndm">Lab</button><br>

<a href="/sets/new">Add New Set</a>

<% if (user) { %>
  <h3>Your sets</h3>
  <ul>
  <% followedSets.forEach(set => { %>
    <li>
      <a href="/sets/<%= set._id %>"><%= set.title %></a><form action="sets/<%= set._id %>/edit?_method=PUT" method="POST"><input type="submit" value="unfollow"></form>
    </li>
  <% }) %>
  </ul>
  
  <h3>Available Sets</h3>
  <ul>
    <% unfollowedSets.forEach(set => { %>
    <li>
      <a href="/sets/<%= set._id %>"><%= set.title %></a><form action="sets/<%= set._id %>/edit?_method=PUT" method="POST"><input type="submit" value="follow"></form>
    </li>
    <% }) %>
  </ul>
  <% } %>

<% if (!user) { %>
 <h3>Only Base Sets Available</h3>
 <h5>sign in for more</h5>
 <ul>
  <% unfollowedSets.forEach(set => { %>
  <li>
    <a href="/sets/<%= set._id %>"><%= set.title %></a>
  </li>
  <% }) %>
</ul>
<% } %>

</main>
<%- include('./partials/footer') %>