<%- include('./partials/header') %>

<main>
  
  <button id="collabritoriate">Press to use the collabratory</button>

<% if (user) { %>

  <ul id="list">

  </ul>

  <h3>Your sets</h3>
  <ul>
  <% followedSets.forEach(set => { %>
    <li class="set-item">
      <a href="/sets/<%= set._id %>"><%= set.title %></a><form action="sets/<%= set._id %>/edit?_method=PUT" method="POST"><input type="submit" value="unfollow"></form>
    </li>
  <% }) %>
  </ul>
  
  <h3>Available Sets</h3>
  <ul>
    <% unfollowedSets.forEach(set => { %>
    <li class="set-item">
      <a href="/sets/<%= set._id %>"><%= set.title %></a><form action="sets/<%= set._id %>/edit?_method=PUT" method="POST"><input type="submit" value="follow"></form>
    </li>
    <% }) %>
  </ul>
  <% } %>

<% if (!user) { %>
  <ul id="list">

  </ul>
  <h5><span class="fl">s</span>ign in to filter only the sets you want to use</h5>
 <ul>
  <% unfollowedSets.forEach(set => { %>
  <li class="set-item">
    <a href="/sets/<%= set._id %>"><%= set.title %></a>
  </li>
  <% }) %>
</ul>
<% } %>

</main>

<script>

  const btn = document.getElementById('collabritoriate');

  btn.addEventListener('click', clbrtry)

  const instruments =  <%- JSON.stringify(instruments) %>;
  const effects =  <%- JSON.stringify(effects) %>;
  const roles =  <%- JSON.stringify(roles) %>;
  const universals =  <%- JSON.stringify(universals) %>;

  
  function clbrtry() {
    let instrument = instruments[Math.floor(Math.random() * instruments.length)];
    let effect = effects[Math.floor(Math.random() * effects.length)];
    let role = roles[Math.floor(Math.random() * roles.length)];
    let universal = universals[Math.floor(Math.random() * universals.length)];
    let content = "";

    let parent = document.getElementById('list');

    if (typeof effect !== 'undefined') {
      effect = '<span class="fl">' + effect.slice(0, 1) + "</span>" + effect.slice(1, effect.length);
      content+= effect + ' ';
    }
    
    if (typeof instrument !== 'undefined') {
      instrument = '<span class="fl">' + instrument.slice(0, 1) + "</span>" + instrument.slice(1, instrument.length);
      content+= instrument;
    }
    
    if (typeof role !== 'undefined') {
      role = '<span class="fl">' + role.slice(0, 1) + "</span>" + role.slice(1, role.length);
      content+= ' ' + role;
    }
    
    if (typeof universal !== 'undefined') {
      universal = '<span class="fl">' + universal.slice(0, 1) + "</span>" + universal.slice(1, universal.length);
      content = universal;
    }

    if (content !== "") {
      let listing = document.createElement('li');
      listing.innerHTML = content;
      parent.appendChild(listing);
    } else {
      parent.innerHTML = '<p>Follow sets to see the collabratory output your next inspiration</p>';
    }
  }

</script>

<%- include('./partials/footer') %>