<%- include('./partials/header') %>

<main>
  
  <button id="collabritoriate">Collabratoriate</button>

<% if (user) { %>
  <h2>Results</h2>

  <ul id="list">

  </ul>

  <h3>Your sets</h3>
  <ul>
  <% followedSets.forEach(set => { %>
    <li>
      <a href="/sets/<%= set._id %>"><%= set.title %></a><form action="sets/<%= set._id %>/edit?_method=PUT" method="POST"><input type="submit" value="unfollow"></form>
    </li>
  <% }) %>
  </ul>
  
  <h3>Available Sets</h3>
  <ul>
    <% unfollowedSets.forEach(set => { %>
    <li>
      <a href="/sets/<%= set._id %>"><%= set.title %></a><form action="sets/<%= set._id %>/edit?_method=PUT" method="POST"><input type="submit" value="follow"></form>
    </li>
    <% }) %>
  </ul>
  <% } %>

<% if (!user) { %>
  <h2>Results</h2>
  <h3><span id="effect"></span><span id="instrument"></span><span id="role"></span><span id="universal"></span></h3>
  <h5>sign in to filter only the sets you want to use</h5>
 <ul>
  <% unfollowedSets.forEach(set => { %>
  <li>
    <a href="/sets/<%= set._id %>"><%= set.title %></a>
  </li>
  <% }) %>
</ul>
<% } %>

</main>

<script>

  const btn = document.getElementById('collabritoriate');

  btn.addEventListener('click', clbrtry)

  const instruments =  <%- JSON.stringify(instruments) %>;
  const effects =  <%- JSON.stringify(effects) %>;
  const roles =  <%- JSON.stringify(roles) %>;
  const universals =  <%- JSON.stringify(universals) %>;

  clbrtry()



  function clbrtry() {
    let instrument = instruments[Math.floor(Math.random() * instruments.length)];
    let effect = effects[Math.floor(Math.random() * effects.length)];
    let role = roles[Math.floor(Math.random() * roles.length)];
    let universal = universals[Math.floor(Math.random() * universals.length)];
    
    let content = "";

    let parent = document.getElementById('list');

    if (typeof effect !== 'undefined') {
      content+= effect + ' ';
    }
    
    if (typeof instrument !== 'undefined') {
      content+= instrument;
    }
    
    if (typeof role !== 'undefined') {
      content+= ' ' + role;
    }
    
    if (typeof universal !== 'undefined') {
      content = universal;
    }

    let listing = document.createElement('li');
    listing.innerText = content;
    parent.appendChild(listing);
  }

</script>

<%- include('./partials/footer') %>