<%- include('../partials/header') %>
<main>
  <form action="/sets/<%= set._id %>/entries" method="post">
    <h2><%= set.title %></h2>
    <% if (user) { %>
      <label>Category
        <select name="category">
          <option value="instrument">Instrument</option>
          <option value="effect">Effect</option>
          <option value="role">Role</option>
          <option value="universal">Universal</option>
        </select>
      </label>
      <label>
        <textarea name="description" id="" cols="30" rows="4"></textarea>
      </label>
      <input type="submit" value="Add Entry">
    </form>

    <form action="/sets/<%= set._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Set</button>
    </form>

    <% } %>
    <% set.entries.forEach(entry => { %>
        <h3><%= entry.category %></h3>
        <p><%= entry.description %> </p>
        <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
    <% }) %>
</main>
<%- include('../partials/footer') %>