<%- include('../partials/header') %>
<main>
  <form action="/sets/<%= set._id %>/entries" method="post">
    <h2><%= set.title %></h2>
    <% if (set.createdBy.equals(user && user._id)) { %>
    <label>Category
      <select name="category">
        <option value="instrument">Instrument</option>
        <option value="effect">Effect</option>
        <option value="role">Role</option>
        <option value="universal">Universal</option>
      </select>
    </label>
    <label>Description
      <input type="text" name="description">
    </label>
    <input type="submit" value="Add Entry">
  </form>

  <form action="/sets/<%= set._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Set</button>
  </form>

  <% } %>
  <div id="entry-list">
    <% set.entries.forEach(entry => { %>
      <div class="entry">
        <h3><%= entry.category %></h3>
        <p><%= entry.description %> </p>
        <% if (set.createdBy.equals(user && user._id)) { %>
        <a href="/entries/<%= entry._id %>/edit">edit</a>
        <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
        <% } %>
      </div>
    <% }) %>
  </div>
</main>
<%- include('../partials/footer') %>