<%- include('../partials/header') %>
<main>
  <form action="/sets/<%= set._id %>/entries" method="post">
    <h2><%= set.title %></h2>

    <% if (set.createdBy.equals(user && user._id)) { %>
    <label data-tooltip="Add entries to this theme here. Effects are passive modifiers that will go before an instrument. An instrument is obviously what produces the sound. And role describes the intent the performer should have. Universal is a special entry that will appear on it's own without any other entries.">Category
      <select name="category">
        <option value="instrument">Instrument</option>
        <option value="effect">Effect</option>
        <option value="role">Role</option>
        <option value="universal">Universal</option>
      </select>
    </label>
    <label>Description
      <input type="text" name="description">
    </label>
    <input type="submit" value="Add Entry">
  </form>

  <form action="/sets/<%= set._id %>?_method=DELETE" method="POST" class="menu">
    <button type="submit" class="delete-btn">Delete Set</button>
  </form>

  <% } %>
  <div id="entry-list">
    <% set.entries.forEach(entry => { %>
      <div class="entry
        <% if (entry.category === 'instrument') { %> inst-ent<% } %>
        <% if (entry.category === 'effect') { %> fx-ent<% } %>
         <% if (entry.category === 'role') { %> role-ent<% } %>
         <% if (entry.category === 'universal') { %>uni-ent<% } %>
         ">
        <h3><%= entry.category %></h3>
        <p><%= entry.description %> </p>
        <% if (set.createdBy.equals(user && user._id)) { %>

        <div class="user-entry-options">
          <a href="/entries/<%= entry._id %>/edit" class="edit-btn">edit</a>
          <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
           <button type="submit" class="delete-btn">X</button>
          </form>
      </div>
        <% } %>
      </div>
    <% }) %>
  </div>
</main>
<%- include('../partials/footer') %>